<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container-fluid">
        <div class="header">
            <h1>Lemmy Matchbot</h1>
            <a href="#" class="btn btn-link"><i class="fa fa-cog"></i></a>
        </div>
        <div class="row">
            <div id="sidebar" class="col-md-2 min-vh-100 bg-light">
                <!-- Sidebar content  -->
                <ul class="list-group">
                    <li class="list-group-item"><a href="/">Dashboard</a></li>
                    <li class="list-group-item"><a href="/manage_bot">Search</a></li>
                    <li class="list-group-item"><a href="/scheduledPosts">Schedule</a></li>
                    <li class="list-group-item"><a href="/manage_bot">Settings</a></li>
                </ul>
            </div>
            <div id="content" class="col-md-8 ml-5">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <div class="footer">
            <a href="#">Link 1</a> | <a href="#">Link 2</a> | <a href="#">Link 3</a> | <a href="https://github.com">GitHub</a>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>