{% extends "base.html" %}

{% block title %}Manage Bot{% endblock %}

{% block content %}
    <h1 class="pb-5">Search for Fixtures</h1>
    <div class="row">
        <div id="content" class="col-md-9">
            <h2>Next Fixture</h2>
            <div id="next-fixture"></div>
            <button onclick="sendToLemmy()" class="btn btn-primary">Send to Lemmy</button>
            <button onclick="schedulePost()" class="btn btn-primary">Schedule Post</button>
        </div>
    </div>

    <h2>Input Data</h2>
    <div class="form-group">
        <label for="season">Season:</label>
        <input type="text" id="season" name="season" class="form-control" required readonly>
    </div>
    <div class="form-group">
        <label for="league">League:</label>
        <select id="league" name="league" class="form-control" required>
            <option value="">Select a league</option>
            {% for league in leagues %}
                <option value="{{ league.id }}">{{ league.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="team">Team:</label>
        <select id="team" name="team" class="form-control" required disabled>
            <option value="">Select a team</option>
        </select>
    </div>
    <button onclick="getNextFixture()" class="btn btn-primary">Get Next Fixture</button>

    <script src="{{ url_for('static', filename='js/teamSearch.js') }}"></script>
</script>
{% endblock %}